.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts 
    @import url(//fonts.googleapis.com/css?family=Font+Name);
  */
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');



  
  /* @import 'node_modules/modern-normalize/modern-normalize.css'; */
        /* npm install modern-normalize
          Resets elements for browser consistency.  
          https://www.npmjs.com/package/modern-normalize
        */         
  
  /* Component-specific stylesheets, if any. 
    @import "component1.css";   
  */
  @import "~react-image-gallery/styles/css/image-gallery.css";

/*   ----- Variables  -----  */
:root {
    --light:#abe0a6;
    --medium:#70b167;
    --contrast1:#f9ebeb;
    --contrast2:#f4adac;
    --contrast3:#f27c84;
    --dark:#334752;
    --brown:#765848;

    --custom-embellishment-name:;
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {} or :root {} */
    background-color:;

    font-family: 'M PLUS 1p', sans-serif;

    max-width: 100%;
    display: flex;
    flex-direction: column;


  }
  
  
  /*  ----- Page layout blocks -----  */

  main {
    padding: 1% 0;
  }
  section {}
    article {}
      #topic1 {}
      #topic2 {}
  div {}
  aside {}

  footer {
    background-color: var(--contrast1);
    padding: 1% 17%; 
    text-align: center;
    margin: 2rem 0 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: solid 2px #9f8d84;
    color: var(--dark)
  }


  .skills {
    margin: 0 30%;
    display: grid;
    grid: 100px / auto auto auto auto;
    row-gap: 20px;
    grid-auto-columns: auto;
    align-items: flex-end;
    border: solid 2px var(--contrast1);
    padding: 2% 0;
    color: var(--dark)
  }
  
  .socials a {
    margin: 2px;
    padding: 0 8px;
  }
  
  /* ----- Anchors ----- Text links */
  a {
    padding: 2px;
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark)
  }
  a:hover {}
  a:active {}
  a:visited {}
  a:link{}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    box-shadow: 0 8px 5px #9f8d84;
    justify-content: center;
    font-size: 1.1rem;
    background-color: var(--contrast1);

  }
  
  .navigation {
    padding: 1% 18%; 
    justify-content: space-between;

  }
  .navigation a {
    font-size:1.3em;
    margin: 2px;
    padding: 6px 15px;
    text-decoration:none;
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark);

  }
  .navigation a:hover {
    text-decoration: underline;

  }

  .header {
    float: left;
    text-align: left;
    padding-right: 4%;
  }

  .container {
    margin: 0% 18%;
    display: flex;
    padding: 1% 0%;
    align-items: center;
  }

  .data {
    padding: 10px;
  }

  
  .local {}
  .local a {
  }
  .local a:hover {

  }
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {    
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark);
  } 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {color:var(--contrast2);}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {

  }
  caption {

  }
  thead {}
  tbody {}
  tfoot {}
  tr {}
    tr:nth-child(even) td {}
    tr:nth-child(odd) td {}
  tr th {

  }
  tr td {
  }
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}

  
  
  /*  ----- Form ----- */
  form {

  }
  fieldset {

  }
    legend {

    }
  label {

  }
    button {

    }
    input {

    }
    output {}
    meter {}
    progress {}
    select {

    }
      optgroup {}
      option {}
    textarea {

    }
    button:focus{

    }
    ::placeholder {

    }

    :required {

    }

  label.required:after{

  }

  input:valid {

  }
  textarea.required:valid{
  }
  
  /* ----- Media ----- */
  figure {}
    figcaption {}
    figure img {}
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */

  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}