/*   ----- Imports  -----  */

  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


  @import "~react-image-gallery/styles/css/image-gallery.css";

/*   ----- Variables  -----  */
:root {
    --light:#abe0a6;
    --medium:#70b167;
    --contrast1:#f9ebeb;
    --contrast2:#f4adac;
    --contrast3:#f27c84;
    --dark:#334752;
    --brown:#765848;

    --custom-embellishment-name:;
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {} or :root {} */
    background-color:;
    font-family: 'M PLUS 1p', sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  /*  ----- Page layout blocks -----  */

  main {
    padding: 1% 0;
  }

  footer {
    background-color: var(--contrast1);
    padding: 1% 17%; 
    text-align: center;
    margin: 2rem 0 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: solid 2px #9f8d84;
    color: var(--dark)
  }


  .skills {
    margin: 0 30%;
    display: grid;
    grid: 100px / auto auto auto auto;
    row-gap: 20px;
    grid-auto-columns: auto;
    align-items: flex-end;
    border: solid 2px var(--contrast1);
    padding: 2% 0;
    color: var(--dark)
  }
  
  .socials a {
    margin: 2px;
    padding: 0 8px;
  }
  
  /* ----- Anchors ----- Text links */
  a {
    padding: 2px;
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark)
  }
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    box-shadow: 0 8px 5px #9f8d84;
    justify-content: center;
    font-size: 1.1rem;
    background-color: var(--contrast1);

  }
  
  .navigation {
    padding: 1% 18%; 
    justify-content: space-between;

  }
  .navigation a {
    font-size:1.3em;
    margin: 2px;
    padding: 6px 15px;
    text-decoration:none;
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark);

  }
  .navigation a:hover {
    text-decoration: underline;

  }

  .header {
    float: left;
    text-align: left;
    padding-right: 4%;
  }

  .container {
    margin: 0% 18%;
    display: flex;
    padding: 1% 0%;
    align-items: center;
  }

  .data {
    padding: 10px;
  }

  /*  -----  Typography  ----- */
  
  h1, h2, h3, h4, h5, h6 {    
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark);
  } 
