/*   ----- Imports  -----  */

  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');



/*   ----- Variables  -----  */
:root {
    --light:#abe0a6;
    --medium:#70b167;
    --contrast1:#f9ebeb;
    --contrast2:#f4adac;
    --contrast3:#f27c84;
    --dark:#334752;
    --brown:#9f8d84;
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {} or :root {} */
    font-family: 'M PLUS 1p', sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  /*  ----- Page layout blocks -----  */

  main {
    padding: 1% 0;
    width: auto;
  }

  footer {
    background-color: var(--contrast1);
    padding: 1% 17%; 
    text-align: center;
    margin: 2rem 0 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: solid 2px var(--brown);
    color: var(--dark)
  }

  .center {
    margin: auto;
    text-align: center;
  }


  .skills {
    margin: 0 30%;
    display: grid;
    grid: 100px / auto auto auto auto;
    row-gap: 20px;
    grid-auto-columns: auto;
    align-items: flex-end;
    border: solid 2px var(--contrast1);
    padding: 2% 0;
    color: var(--dark);
    text-align: center;
    min-width: 300px;
  }
  
  .socials a {
    margin: 2px;
    padding: 0 8px;
  }
  
  /* ----- Anchors ----- Text links */
  a {
    padding: 2px;
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark)
  }
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    box-shadow: 0 8px 5px var(--brown);
    justify-content: center;
    font-size: 1.1rem;
    background-color: var(--contrast1);

  }
  
  .navigation {
    padding: 1% 18%; 
    justify-content: space-between;

  }
  .navigation a {
    font-size:1.3em;
    margin: 2px;
    padding: 6px 15px;
    text-decoration:none;
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark);

  }
  .navigation a:hover {
    text-decoration: underline;

  }

  .header {
    float: left;
    text-align: left;
    padding-right: 4%;
  }

  .header2 {
    text-align: center;
  }

  .container {
    margin: 0% 18%;
    display: inline-flex;
    padding: 1% 0%;
    align-items: center;
  }

  .container2 {
    margin: 1% 12%; 
    align-items: center;
    color: var(--dark);
  }

  .project {
    display: flex;
    justify-content:left;
    padding: 1% 0%;
    align-items:flex-start;

  }


  .image {
    margin-right: 25px;
    height: 360px;
    border: solid 1px var(--dark);
  }

  .home {
    width: 400px;
  }

  .description {
    display:inline-block;
  }


  /*  -----  Typography  ----- */
  
  h1, h2, h3, h4, h5, h6 {    
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--dark);
  } 
